In [1]:
import numpy as np
import pandas as pd

In [2]:
def f_1(x1,x2,x3,x4):
  return 97*x1 + 32*x2 + 25*x3 + 20*x4 <= 139

def f_2(x1,x2,x3,x4):
  return 2*x1 + x2 + x3 + x4 <= 3

def f_3(x1,x2,x3,x4):
  r_1 = (x1 + x2 + x3 <= 2)
  r_2 = (x1 + x2 + x4 <= 2)
  r_3 = (x1 + x3 + x4 <= 2)
  return r_1 and r_2 and r_3

In [7]:
import itertools
lst = list(itertools.product([0, 1], repeat=4))
res = {}
res["x"] = []
res["P1"] = []
res["P2"] = []
res["P3"] = []
for x in lst:
  res["x"].append(x)
  res["P1"].append(f_1(*x))
  res["P2"].append(f_2(*x))
  res["P3"].append(f_3(*x))
res

{'x': [(0, 0, 0, 0),
  (0, 0, 0, 1),
  (0, 0, 1, 0),
  (0, 0, 1, 1),
  (0, 1, 0, 0),
  (0, 1, 0, 1),
  (0, 1, 1, 0),
  (0, 1, 1, 1),
  (1, 0, 0, 0),
  (1, 0, 0, 1),
  (1, 0, 1, 0),
  (1, 0, 1, 1),
  (1, 1, 0, 0),
  (1, 1, 0, 1),
  (1, 1, 1, 0),
  (1, 1, 1, 1)],
 'P1': [True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  True,
  False,
  False,
  False],
 'P2': [True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  True,
  False,
  False,
  False],
 'P3': [True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  True,
  False,
  False,
  False]}

In [9]:
df = pd.DataFrame.from_dict(res)
df

               x     P1     P2     P3
0   (0, 0, 0, 0)   True   True   True
1   (0, 0, 0, 1)   True   True   True
2   (0, 0, 1, 0)   True   True   True
3   (0, 0, 1, 1)   True   True   True
4   (0, 1, 0, 0)   True   True   True
5   (0, 1, 0, 1)   True   True   True
6   (0, 1, 1, 0)   True   True   True
7   (0, 1, 1, 1)   True   True   True
8   (1, 0, 0, 0)   True   True   True
9   (1, 0, 0, 1)   True   True   True
10  (1, 0, 1, 0)   True   True   True
11  (1, 0, 1, 1)  False  False  False
12  (1, 1, 0, 0)   True   True   True
13  (1, 1, 0, 1)  False  False  False
14  (1, 1, 1, 0)  False  False  False
15  (1, 1, 1, 1)  False  False  False